.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
  flex: 1;
  height: 100vh;
}


.right {
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
}

.parent.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 70%;
  height: 90%;
  border: solid 12px white;
  background-color: #2d679a;
}

.child.card {
  width: 70%;
  height: 90%;
  background-color: white;
}

.title {
  font-family: 'Comics', sans-serif;
  color: white;
  font-size: 50px;
}


