.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
  flex: 1;
  height: 100vh;
}


.right {
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
}

.container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.child.card {
  width: 70%;
  height: 90%;
  background-color: white;
}

.title {
  font-family: 'Comics', sans-serif;
  color: white;
  font-size: 50px;
}


